PORT=3000
RETELL_API_KEY=key_xxx
TRACK17_API_KEY=xxx
# Eén regel per store, gekoppeld aan het Retell agent_id
# Formaat: agent_id|shop-domein|admin-token|levertijd-tekst
STORES=agent_abc123|voorbeeldstore.myshopify.com|shpat_xxx|7 tot 14 werkdagen
SHOPIFY_API_VERSION=2026-07
